.footer {
    width: 100%;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdf2dc;
}

.footer-image-row {
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}

.footer-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image {
    width: 45%;
    object-fit: contain;
}

.footer-text-row {
    width: 100%;
    height: 35%;
}

.footer-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: auto;
}
