body {
    background-color: #ed0015;
}

@font-face {
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: normal;
    src: local('Grand Hotel'), url(../assets/fonts/GrandHotel-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'FV Almelo';
    font-style: normal;
    font-weight: bold;
    src: local('FV Almelo'), url(../assets/fonts/fv_almelo-webfont.ttf) format('truetype');
}