.logo-container {
    margin: 20px 0px;
}

.logo {
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brand-row {
    height: 50px;
}

.brand-name {
    font-family: "FV Almelo";
    color: #ed0015;
    font-size: 50px;
    text-align: center;
}

.slogan {
    font-family: "Grand Hotel";
    color: #ed0015;
    font-size: 40px;
    text-align: center;
}

.form {
    width: 100%;
    margin-bottom: 30px;
}

.search-cotainer {
    display: flex;
    flex-direction: row;
}

.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}

.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fdf2dc;
}

.search-button:hover {
    background-color: #dbdbc3;
}

.search-results {
    width:100%;
    height:calc(100% - 200px);
    overflow-y:scroll;
}

.top-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.bottom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
