export default {
    tmdbApiBaseUrl: "https://api.themoviedb.org/3", // api version 3 api base url
    tmdbImageBaseUrl: "https://image.tmdb.org/t/p/original", // images base url with size original
    tmdbApiKey: "TMDB_API_KEY"
}
